<table style="width: 100%; color: black; border: 1px solid black; font-size: 14px; font-family: 'Malgun Gothic', Dotum, Arial, Tahoma; border-collapse: collapse;">
	<colgroup>
		<col style="width: 15%;">
		<col style="width: 35%;">
		<col style="width: 15%;">
		<col style="width: 35%;">
	</colgroup>
	<tbody>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">보존 기간</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;" colspan="3">5년</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">휴직 시작일</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">&nbsp;</td>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">휴직 종료일</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">&nbsp;</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">휴직 사유</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;" colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">연락처</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;" colspan="3">&nbsp;</td>
		</tr>
	</tbody>
</table>