<table style="width: 100%; color: black; border: 1px solid black; font-size: 14px; font-family: 'Malgun Gothic', Dotum, Arial, Tahoma; border-collapse: collapse;">
	<colgroup>
		<col style="width: 25%;">
		<col style="width: 75%;">
	</colgroup>
	<tbody>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">주관(팀)부서</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">개발 1팀</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">회의일자</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">2024.07.16 14:00</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">회의장소</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">101실</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">작성자</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">이한별</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: middle; height: 35px;">회의참석자</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">오병준, 정제문, 김일규, 서혜진, 김민진, 김영훈</td>
		</tr>
		<tr>
			<th style="background-color: #ddd; border: 1px solid black; padding: 5px; text-align: center; vertical-align: top; height: 35px;">주제</th>
			<td style="border: 1px solid black; padding: 5px; text-align: left; vertical-align: middle; height: 35px;">개발 프로세스 개선 사항 논의</td>
		</tr>
		<tr>
			<td style="line-height:1.5; border: 1px solid black; padding: 5px; text-align: left; vertical-align: top; height: 300px; padding: 20px 30px;" colspan="2">
			<strong>3분기 프로젝트 진행 현황 보고:</strong><br/><br/>
			&nbsp;&nbsp; 1. 진행 중인 작업: 현재 3분기 프로젝트의 70% 완료. 주요 기능 구현 완료.<br/>
			&nbsp;&nbsp; 2. 문제점 및 해결 방안: API 연동 시 발생한 오류에 대한 논의 및 해결 방안 <br/><br/><br/>
			<strong>기능 추가 요청 검토:</strong><br/><br/>
			&nbsp;&nbsp; 새로운 기능 요청: 마케팅 팀에서 요청한 추가 기능 검토.<br/>
			&nbsp;&nbsp; 우선순위 결정: 다음 배포 버전에 포함 여부 결정.<br/><br/><br/>
			<strong>추가 논의 사항:</strong><br/><br/>
			&nbsp;&nbsp;팀 내 커뮤니케이션 활성화를 위한 주간 회의 일정 조정.<br/>
			&nbsp;&nbsp;프로젝트 관리 도구의 업그레이드 여부 검토.<br/><br/>
			</td>
		</tr>
	</tbody>
</table>
